*.ply
*.splat

scenes/*
output/*

*.pt
*.pth
*.ckpt
*.log
*.csv
*.json
*.zip
*.tar.gz
*.mp4
*.avi
*.mov
*.mkv
*.exr
*.hdr
*.tmp
*.bak
*.swp
.DS_Store
__pycache__/
.ipynb_checkpoints/
.vscode/
.idea/
env/
venv/

*.onnx
*.engine